[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

watchdog = "*"
gevent = "*"


[dev-packages]

pytest = "*"
pytest-cov = "*"
twine = "*"
bumpversion = "*"
